<!DOCTYPE html>
<html lang="en"> 
    <head>
        <meta charset="utf-8">
        <title>Activity Tracker</title>
        <link rel="stylesheet" href="/css/style.css" type="text/css">
        <script src="code.js" defer></script>
    </head>

    <body>
        <div class="topnav">
            <a class="active" href="/">Home</a>
            <a href="/activities">Activities</a>
            <a href="/find">Find</a>
        </div>

        <h1>Find More Activities</h1>

        
        <fieldset>
            <legend>Find more</legend>
            <div id="apiDisplay">
                 <%- findTable %> 
            </div>
           
        </fieldset>

        


    </body>



</html>